{% extends "base.html" %}

{% block fonts %} 
    {% set font = config.theme.font %}

	<link rel='stylesheet'  href="/fonts/roboto.css" type='text/css' media='all' />
	<link rel='stylesheet'  href="/fonts/roboto-mono.css" type='text/css' media='all' />
    
	
	<style>
      body, input {
        font-family: "{{ font.text }}",
        -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
      }
      pre, code, kbd {
        font-family: "{{ font.code }}",
        SFMono-Regular, Consolas, Menlo, monospace;
      }
    </style>
{% endblock %} 


{% block content %}
  {{ super() }}
<script type="text/javascript" src="/cactus/v0.13.0/cactus.js"></script>
<link type="text/css" rel="stylesheet" href="/cactus/v0.13.0/style.css">
<link type="text/css" rel="stylesheet" href="/cactus/custom.css">

<h3 style="text-align: center;" id="comments-a">Comments</h3>
<h4 style="text-align: center;font-weight: normal;" id="comments-b">Powered by Cactus Comments</h4>

<div id="comment-section">Loading Comments...</div>
<script>
try {
    var docCommentSectionId = document.getElementById('comments-section-id').innerHTML
} catch {
    var docCommentSectionId = "catch-all"
}
if (docCommentSectionId == null ){
    docCommentSectionId = "catch-all"
}

if (docCommentSectionId == "disabled") {
    document.getElementById("comment-section").style.display = "none";
    document.getElementById("comments-a").style.display = "none";
    document.getElementById("comments-b").style.display = "none";
} else {
    initComments({
      node: document.getElementById("comment-section"),  // HTML element to make comments section in
      defaultHomeserverUrl: "https://matrix.naoh.host",  // full url of the Matrix server to use as guest
      serverName: "naoh.host",            // server name of the Matrix server w/ Cactus Appservice
      siteName: "naoh.host",                   // name of your website. used for moderation namespacing 
      commentSectionId: docCommentSectionId,  // unique ID for this comments section.
      updateInterval: 30, // Refresh interval
      guestPostingEnabled: false,
      loginEnabled: false,
    })
}

</script>
{% endblock %}


{% block analytics %}
  <script async defer data-domain="naoh.host" src="https://analytics.naoh.host/js/plausible.js"></script>
{% endblock %}